<%- include('../../partials/header') %>

    <% if (flights.length) { %>
    <table>
        <thead>
            <tr>
                <th>Airline</th>
                <th>Airport</th>
                <th>Flight Number</th>
                <th>Departure</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% flights.forEach(flight => { %>
                <tr>
                    <td <%- +flight.departs < +today ? 'class="passed"' : '' %>><%= flight.airline %></td>
                    <td <%- +flight.departs < +today ? 'class="passed"' : '' %>><%= flight.airport %></td>
                    <td <%- +flight.departs < +today ? 'class="passed"' : '' %>><%= flight.flightNo %></td>
                    <td <%- +flight.departs < +today ? 'class="passed"' : '' %>><%= flight.departs.toISOString().slice(0, 16) %></td>
                    <td><a href="/flights/<%= flight._id %>">Details</a></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <% } else { %>
        <h3>No flights to show right now</h3>
    <% } %>

<%- include('../../partials/footer') %>